
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300italic,500,500italic");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto%3Ai%2C300%2C400%7CComfortaa%3Ai%2C600&display=swap");


html {
  scroll-behavior: smooth;
}

html, body {height: 100%;}
body {min-height: 100%; display: flex; -moz-flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;}

html, body, div, span, applet, object,iframe, h1, h2, h3, h4, h5, h6, p, blockquote,pre, a, abbr, acronym, address, big, cite,code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b,u, i, center, dl, dt, dd, ol, ul, li, fieldset,form, label, legend, table, caption, tbody,tfoot, thead, tr, th, td, article, aside,canvas, details, embed, figure, figcaption,footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}

article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
body {-webkit-text-size-adjust: none;}


@-ms-viewport {width: device-width;}
body {-ms-overflow-style: scrollbar;}

@media screen and (max-width: 480px) { html, body {min-width: 320px;} }
html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

body {background: #fff;}
body.is-preload *, body.is-preload *:before, body.is-preload *:after {-moz-animation: none !important;-webkit-animation: none !important;-ms-animation: none !important;animation: none !important;-moz-transition: none !important;-webkit-transition: none !important;-ms-transition: none !important;transition: none !important;}
body {background-color: #fff; color: #565656;}
body, input, select, textarea {font-family: Roboto, Raleway, Helvetica, sans-serif; font-size: 18pt; font-weight: 300; line-height: 1.5;}
@media screen and (max-width: 736px) {body, input, select, textarea {font-size: 16pt;}}
@media screen and (max-width: 360px) {body, input, select, textarea {font-size: 14pt;}}

/*
@media screen and (max-width: 1680px) {body, input, select, textarea {font-size: 18pt;}}
@media screen and (max-width: 1280px) {body, input, select, textarea {font-size: 17pt;}}

@media screen and (max-width: 480px) {body, input, select, textarea {font-size: 15pt;}}
*/

input, select, textarea {color: inherit;}

a { -moz-transition: border-bottom-color 0.2s ease; -webkit-transition: border-bottom-color 0.2s ease; -ms-transition: border-bottom-color 0.2s ease; transition: border-bottom-color 0.2s ease; color: inherit; text-decoration: none; border-bottom: solid 1px;}
a:hover { color: inherit; text-decoration: none; border-bottom: dotted 1px; }

p {margin: 0 0 0.5em 0;}

h1, h2, h3, h4, h5, h6 {color: inherit;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: inherit; text-decoration: none;}

h1 {
  margin: 0 0 0.7em 0;
  font-size: 1.7em; font-weight: 700;
}

h2 {
  margin: 0 0 0.5em;
  font-size: 1.4em; font-weight: bold;
}

h3 {
  font-size: 1.2em; font-weight: bold; color: #5F94C8;
}

h4 {font-size: 1em; font-weight: bold;}

/*
@media screen and (max-width: 736px) {
  h1 {font-size: 1.5em;margin: 0 0 0rem 0;}
  h2 {font-size: 1.2em;}
  h3 {font-size: 1.1em;}
  h4 {font-size: 1.1em;}

}
*/

ul {list-style: disc;margin: 0 0 0.5em 0;padding-left: 1em;}
ul li {padding-left: 0.5em;}


/* layout*/

.lyt_top { padding-top: 55px; }

.lyt_section{
  height: 100%, width: 55em; max-width: 70%; 
  padding: 1em 0; margin: auto; 
  align-items: left; text-align: left;
}
@media screen and (max-width: 1280px){ .lyt_section {max-width: 80%;} }


.bg_light{background-color: #f7f7f7;}
.bg_dark{background-color:#323232;}


/* layout flex */

.flex-row{
  	display: flex;
  	-moz-flex-direction: row; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: left;
  }

.flex-column{
    display: flex;
    -moz-flex-direction: column; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

.flex-bottom{display: flex; flex-direction: column; justify-content: flex-end;}


/* layout logo */

.lyt_logo {width: 50%; margin: 2em 0 0.5em; }
.lyt_logo p {
  width: 80%; height:25px; margin: 0 auto; text-align: center;
  color: #565656 !important;
  font-family: 'Comfortaa'; font-size: 1.5em; letter-spacing: 10px;
}
@media screen and (max-width: 1280px) {
  .lyt_logo {width: 70%;}
  .lyt_logo p { font-size: 1.2em; }
}
@media screen and (max-width: 736px) {
  .lyt_logo {width: 100%;}
  .lyt_logo p { font-size: 1em; }
}
/* @media screen and (max-width: 480px) { .lyt_logo p{width: 80%; font-size: 0.8em;}  } */


/* .full_screen {height: 20vh; } */


.background_left{
  align-items: stretch;
  background-image: url(bg_aux_e.png);
  background-size: auto 100%;  background-position: 0 0; background-repeat: no-repeat;
  border-radius: 20px;
  background-color:#323232;
  margin-right: 8%;
}

.background_right{
  align-items: stretch;
  background-image: url(bg_aux_e.png);
  background-size: auto 100%;  background-position: 0 0; background-repeat: no-repeat;
  border-radius: 20px;
  background-color:#323232;
  margin-left: 8%;
}

/* layout */

.column{position: relative; padding: 0.5em 1em 2em 1em;}

.two_columns{height: 100%; width: 50%;}

.three_columns{width: 30%;}
.three_columns_double{width: 62%;}
@media screen and (max-width: 980px) { .three_columns{height: 0px; width: 0px;} }
@media screen and (max-width: 980px) { .three_columns_double{width: 100%; padding-left: 0em;} }



/* team */

.item-team{
  padding: 1em 2em 0em 2em;
}
.img-team {padding: 0.5em 0 0.5em 0; position: relative; }

.item-shadow {
  height: 100%; width: 100%;
  border-radius: 20px;

  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;

  position: absolute;
  left: 0px; top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.item-shadow:hover {
  height: 100%; width: 100%;
  background: rgba(60, 60, 60, 0.6);
  opacity: 1;
}

.item-shadow a { opacity: 1; font-size: 1.5em; color: #fff; }


.modal-header{border-bottom: 0px solid #e9ecef;}
.modal-footer{border-top: 0px solid #e9ecef;}

.modal-right{width: 70%; }
@media screen and (max-width: 980px) { .modal-right{width: 100%; }}



.modal-left{width: 190px; height: 230px;}
.in_logo{
  width: 50px; height: 50px;
  position: absolute;
  top: calc(1rem + 180px); 
  left: calc(1rem + 120px);
}


/* nav */

.nav-scroll{
  background: #fff !important;
  color: #000 !important;
  padding: .5rem 5% !important ;
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 22%);
}

.navbar a {
  border-bottom: solid 0px;
  font-size: 1.2rem !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}

.inuse{
  text-decoration-line: underline !important; text-underline-offset: 4px !important;
}

.navbar-brand{
  padding: 0 !important;
  margin: 0 1rem !important;
}


/* footer */

.lyt_footer {
	color:#fff;
  font-size: 0.7em;
}

.lyt_footer p {
  margin-bottom: 0.1em;
}
.lyt_footer a {
  -moz-transition: border-bottom-color 0.2s ease;
  -webkit-transition: border-bottom-color 0.2s ease;
	-ms-transition: border-bottom-color 0.2s ease;
	transition: border-bottom-color 0.2s ease;
	color: inherit;
  text-decoration: none;
	border-bottom: solid 1px;
}
.lyt_footer a:hover {
  border-bottom: dotted 1px;
}
.font_footer {
  font-weight: bold;
  font-size: 1.3em;
  margin: 0 0 0.1em 0;
}

.f_two{ height: 100%; width: 50%; font-size: 0.7em; }
@media screen and (max-width:736px) { .f_two{ width: 100%; } }

.f_left { text-align:left; min-width: 350px;}
.f_right{ text-align:right; min-height: 80px;}
@media screen and (max-width:736px) { .f_right{ min-height:1px;} }
.f_floater{ height: 80px; min-width: 30px; float:left; padding: 0em 1em 0em 0em; }


/* img */

.img_fluid{
	display: block;
	overflow: hidden;
	position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_fluid img {
	max-width: 100%; max-height: 100%;
	margin: auto;
}

/* buttons */

.button-empty {
  display:inline-block;
  margin: 0.5em 0.5em;
  background-color: inherit;
  border-radius:4px;
  border: 3px solid #323232;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-empty:hover {
  background-color: #0a2333;
  border: 3px solid #0a2333;
  color: white;
}

.button-filled{
  display:inline-block;
  margin: 0.5em 0.5em;
  background-color: #323232;
  color: white;
  border-radius:4px;
  border: 3px solid #323232;
  padding: 6px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button-filled:hover{
  background-color: #0a2333;
  border: 3px solid #0a2333;
  color: white;
}

/*form */


.form_contact form{ width:100%; }

.input-warning{width: 100%; color:red; font-style: italic; font-size: 0.9em; float: left; text-align:left;}
.input-name{ display: none;}
.input-email{ display: none;}
.input-cbox{ display: none;}

form {width: 80%;}
@media screen and (max-width: 480px){ form {width: 100%;} }

.input {
    background-color: inherit;
    margin: 0 0 1em 0;
    width: 100%; height: 30px;
    border-style: none;
    border-bottom: 1px solid #555;
}

.input:focus{
    outline-width: 0; 
    border-bottom: 3px solid #555;
}

.input-holder {width: 100%; text-align:center;}

.check{ position: relative; top: -1em;}

.mode-send{display: inline;}
.mode-sent{display: none; background-color: #74B72E !important; border: 3px solid #74B72E !important;}
.button-sent:hover{ background-color: #74B72E !important; border: 3px solid #74B72E !important; }








/* navigation */

 .arrow_down{
  width: 20px; height: 20px;
  position: relative;
  border-bottom: 4px solid #aaa;
  border-right: 4px solid #aaa;

  left: 50%;
  bottom: -1.2em;
  display: block;
  text-align: center;

  text-decoration: none;
  text-shadow: 0;

  left: 50%;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
}



/* ppt */
/* ------------------- */



.bullets .highlight{ color: #5F94C8; font-weight: 500;}


.bullets p{ margin:0; font-size: 0.5em; }


.bullets ul{
  margin: 0 0 0 1em;
  list-style: none;
}

.bullets li {
  padding: 0; margin: 0 0 0.5em;
  position: relative;
}

.bullets li:before{
  position: absolute;
  padding: 0; margin: 0.4em 0 0 0;
  width:1.2em; height:1.2em; left: -2.2em;
  content: '';
  border-right: 0.3em solid #5F94C8;
  border-bottom: 0.3em solid #5F94C8;
  top: calc(50% - 0.2em);
  transform: translateY(-50%) rotate(-45deg);
}


/* ------------------- */

.pros {
  width: 100%; padding: 1em 1.5em; margin: 0 0 0.5em 0;
  font-size: 1.2em; color: #fff; font-weight: 600;
  line-height: 1.3; 
  border-radius: 20px;
    background-origin: border-box;
  background-clip: content-box, border-box;
}

.pros .highlight{
  font-size: 1.2em;  font-weight: 800; /* color: #ddd; */
}

.pros ul{
  margin: 0 0 0 1em;
  list-style: none;
}

.pros li {
  position: relative;
  padding: 0; margin: 1em 0;
}

.pros li:before{
  position: absolute;
  padding: 0; margin: 0.2em 0 0 0;
  width:1.2em; height:1.2em; left: -2.2em;
  content: '';
  border-right: 0.2em solid #fff;
  border-bottom: 0.2em solid #fff;
  top: calc(50% - 0.2em);
  transform: translateY(-50%) rotate(-45deg);
}


.pro_a{
  background-image: radial-gradient(circle at top left, #0064CF, #1167b1), radial-gradient(circle at top left, #0064CF, #1167b1);

}
.pro_b{
    background-image: radial-gradient(circle at top left, #A861B9,  #FA6AB7), radial-gradient(circle at top left, #A861B9, #FA6AB7);
}

.pro_c{
  background-image: radial-gradient(circle at top left, #269DFE, #44FDFB), radial-gradient(circle at top left, #269DFE, #44FDFB);
   /* background-image: radial-gradient(circle at top left, #d9b51c, #f5dd29), radial-gradient(circle at top left, #d9b51c, #f5dd29); */
}


.pro_d{
    background-image: radial-gradient(circle at top left, #FF4C5A, #FE3D47), radial-gradient(circle at top left, #FF4C5A, #FE3D47);
}


.pro_e{
    background-image: radial-gradient(circle at top left, #658BFE, #1F52AA), radial-gradient(circle at top left, #658BFE, #1F52AA);
}


/* ------------------- */

.numbered {}

.numbered .highlight{ color: #5F94C8; font-weight: 500;}


.numbered ol{
  list-style: none;
  counter-reset: my-awesome-counter;
  display: flex; flex-wrap: wrap;

}

.numbered li {
  position: relative;
  counter-increment: my-awesome-counter;
  padding: 0 0 0 10px; margin: 0 0 1em 50px;
  width: 45%;
  border-left: 0.1em solid #5F94C8;
}

@media screen and (max-width: 980px) { .numbered li{ width: 90%;} }

.numbered li:before{
  position: absolute;
  height: 2.5em; width:10px;
  content: counter(my-awesome-counter);
  font-size: 1.8em; font-weight: 700;
  margin-right: 0.5em;
  
  color: #5F94C8;
  top: calc(50% - 0.9em);
  transform: translateX(-1.2em);
     
     
 }








